@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul>
    @if (SignInManager.IsSignedIn(User))
      {
    @*<li class="right">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button class="logout" type="submit">Logout</button>
            </form>
        </li>*@
    <li class="right">
        <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" type="submit"> Logout </a>
    </li>
    <li class="right">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Home" asp-action="AddRecord">Add Record</a>
    </li>
    @*<li>
        <a asp-area="" asp-controller="Home" asp-action="BurialRecord"> Burial Records</a>
    </li>*@

        }
        else
        {
    <li class="right">
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="right">
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
        }
</ul>