@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
    <link rel="stylesheet" href="~/css/OurClass.css" />

    <ul>
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="right">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li class="right">
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="right">
                <a asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="right">
                <a asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
            <li class="right">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Goodbye @User.Identity.Name!</a>
            </li>
        }
    </ul>
