@{
    ViewData["Title"] = "Burial Record";
}

@model List<Burialmain>

<div class="container border">
    <div class="row border">
        <div class="col font-weight-bold text-center">
            READ
        </div>
    </div>
    <div class="row border">
        <div class="col border font-weight-bold text-center">
            Northsouth
        </div>
        <div class="col border font-weight-bold text-center">
            Sex
        </div>
        <div class="col border font-weight-bold text-center">
            Depth
        </div>
    </div>
    @foreach (var x in Model)
    {
        <div class="row border">
            <div class="col border">
                @x.Northsouth
            </div>
            <div class="col border">
                @x.Sex
            </div>
            <div class="col border">
                @x.Depth
            </div>
        </div>
    }
</div>