@{
    ViewData["Title"] = "Home";
}

<!-- Need a landing page, description of the project, link to burial information-->
<div class="text-center">
    <h1 class="display-4">Whose Your Mummy?</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<!-- Need a landing page, description of the project, link to burial information-->
<div class="padding">
    <h1 class="text-center display-4">Fag el-Gamous</h1>
    <!-- link to butial summary page-->
    <p>Burial Information <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Fag el-Gamous means the Way of the Water Buffalo. In Egypt, Fag el-Gamous, is a large cemetary that has been under archeological invesigation for over 25 years.</p>
    <p>Over the years more than 1,000 mummies have been excavated. For each detailed field notes and data has been collected, along with analysis of the excavted items offsite. Such information gathered includes:</p>
    <ul class="ul-center">
        <li>Age</li>
        <li>Bone Dimensions</li>
        <li>Burial Depth</li>
        <li>Carbon Dating</li>
        <li>DNA Sequencing</li>
        <li>Hair Color</li>
        <li>Items Accompaning Mummy</li>
        <li>Location</li>
        <li>Photographs</li>
        <li>Physical Orientation in the Ground</li>
        <li>Sex</li>
        <li>Wrapping Textile</li>
    </ul>
    <br /><br />
    <h3 class="text-center">The Dig</h3>
    <p>The dig is organized using a grid system where a square is defined by the coordinates North (N), East (E), South (S), and West (W) of an origin. It is common for two numbers to designate the distance from the origin in a direction (e.g., N 190/200 or E 40/50). </p>
    <p>Those squares are then subdivided into the Northwest (NW), Northeast (NE), Southeast (SE) or Southwest (SW) quadrant (section) of the square.</p>
    <p>An example burial location is: N 190/200 E 40/50 SE. Because many mummies (usually 40 or more) are found in each location, a number is assigned (e.g., N 190/200 E 40/50 SE #9) to uniquely identify the burial.</p>
    <br /><br />
    <h3 class="text-center">Our Purpose</h3>
    <p>With all of the data that is collected on the mummies, ajoining artifacts and sites, it is hard to keep track of it all. Our job is to help organize this data in a way that so that it can be easily shared and available to all those who are interested.</p>
    <p>In order to best do this we have created a system that allows for researchers to view the data under certain filters allowing them to better answer academic research questions on the topic. The data can also be viewed through a number of analytical and machine learning lenses in order to better visualize the data and allow further insights. </p>
</div>

