@{
    ViewData["Title"] = "Unsupervised Analysis";
}

@*Screenshots of the Unsupervised Analysis with a description.*@

<h1 class="padding syd">@ViewData["Title"]</h1>
<div class="padding">
    <div>
        <img class="darbylou slayyy" src="~/img/Darbydo.png" />
        <div class="card">
            <p>After running Gower’s distance on the mummy burial data from the Fag el-Gamous site, we generated a dendrogram that was grouped by “child at death”, “infant at death”, and “adult at death”. The dendrogram revealed interesting patterns and relationships in the data. We observed that the individuals who died as infants or children tended to cluster together, while the adults formed a separate cluster. This suggests that there may have been different burial practices or cultural beliefs surrounding death based on age. Additionally, within the child cluster, we found further sub-clusters that may indicate different social or familial relationships between the individuals. Overall, these findings provide valuable insights into the burial practices and cultural beliefs of the ancient Egyptians and highlight the importance of considering age as a factor in analyzing burial data.</p>
        </div>
    </div>
    <div>
        <h2 class="ifhelovescookiesishereallyamonster jacksonstolemycode">Understanding the Data</h2>
        <img class="darbylou slayyy" src="~/img/Darbs.png" />
        <div class="card">
            <p>The initial dendrogram lacked a legend and required us to interpret the clustering patterns on our own. However, we gained deeper insights into the unsupervised data analysis by organizing the output in a new data frame within an Excel spreadsheet. This allowed us to more clearly visualize the clustering patterns and draw new conclusions about the underlying structure of the data. Ultimately, this approach led to a richer understanding of the data and allowed us to identify previously undiscovered relationships and trends.</p>
        </div>
    </div>
</div>
